<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1">
	<title>Create Account</title>
	<link href="resources/style_login.css" rel="stylesheet" type="text/css" />
	<script src="script.js">

	</script>
</head>

<body>
	<div class="loginbox">
		<img src="/resources/blue_avatar.png" class="avatar">
    <h1>Sign Up Here</h1>
    <form>
      <p>Username</p>
      <input id="newUsername" type = "text" name= "" placeholder = "Enter Username">
      <p>Password</p>
      <input id="newPassword" type = "password" name="" placeholder="Enter Password">
      <p>Password</p>
      <input id="newPasswordConfirm" type = "password" name="" placeholder="Re-enter Password">
      <button onclick="createUser();" type="button">
        Create
      </button>
      <br>
      <br>
      <a href="/login">Already have an account? Login</a>
      <br>
        
    </form>
	</div> 
</body>
</html>

