<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1">
	<title>Login Page</title>
	<link href="/resources/style_login.css" rel="stylesheet" type="text/css" />
	<script src="script.js">

	</script>
</head>

<body>
	<div class="loginbox">
	    <img src="/resources/blue_avatar.png" class="avatar">
    <h1>Login Here</h1>
    <form>
      <p>Username</p>
      <input type = "text" name= "" placeholder = "Enter Username">
      <p>Password</p>
      <input type = "password" name="" placeholder="Enter Password">
      <button onclick="location.href='homepage.html'" type="button">
         Login</button>
      <br>
      <br>
      <a href= "/forgot_password">Forgot Password?</a>
      <br>
      <a href="/create_an_account">Create an Account</a>
        
    </form>
	</div> 
</body>
</html>